{% extends 'base.html' %}
{% block content%}
    <a href={% url show_last_requests_by_priority %}>sort by priority</a> |
    <a href={% url show_last_requests %}>sort by time</a>
    <ul>
    {% for request in requests%}
        <p>  
        <li><b>{{request}}</b></li>
        {% if forloop.first %}
            <ul>
            <li>path{{request.path}}</li>
            <li>ip:{{request.ip}}</li>
            <li>time:{{request.time}}</li>
            <li>method:{{request.method}}</li>
            <li>referer:{{request.referer}}</li>
            <li>user_agent:{{request.user_agent}}</li>
            <li>lang:{{request.language}}</li>
            <li>is_secure:{{request.is_secure}}</li>
            <li>is_ajax:{{request.is_ajax}}</li>
            <li>priority:<b>{{request.priority}}</b></li>
            </ul>
        {% endif %}
        <form action="." method="post" class="priority_form" enctype="multipart/form-data">{% csrf_token %}
        {% for field in request.assigned_form %}
            {{ field.label_tag }}{{ field }}
        {% endfor %}
        <button type="submit" name="submit" value="Submit">Save</button>
        </form>
        </p>
        <hr>
    {% endfor%}
    <ul>
{% endblock %}