{% extends 'base.html' %}
{% block extra_head %}
  {{form.media}}
{% endblock %}

{% block content %}
  <form action="." method="post" class="user_profile_edit" enctype="multipart/form-data">{% csrf_token %}
  {% if form.errors %}
    <p>Correct errors please</p>
  {% endif %}
    <table>
        <tr>
            <td>
                {{form.email.errors}}{{form.email}}<br>
                
                {{form.jabber.errors}}{{form.jabber}}<br>
                {{form.contacts.errors}}{{form.contacts}}<br>
                {{form.skype.errors}}{{form.skype}}<br>
                
            </td>
            <td>
                {{form.name.errors}}{{form.name}}<br>
                {{form.last_name.errors}}{{form.last_name}}<br>
                {{form.date_of_birth.errors}}{{form.date_of_birth}}<br>
                
            </td>
        </tr>
        <tr>
            <td>
                {{form.other_contacts.errors}}{{form.other_contacts}}<br>
            </td>
            <td>
                {{form.bio.errors}}{{form.bio}}<br>
            </td>
        </tr>
    </table>
    <p class="submit"><button type="submit" name="submit" value="Submit">Save</button> <a href = {% url show_main_page %}>Cancel</a></p>
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
  </form>
  
{% endblock %}