{% extends 'base.html' %}
{% block extra_head %}
  {{form.media}}
{% endblock %}

{% block content %}
  <form action="." method="post" class="" enctype="multipart/form-data">{% csrf_token %}
  {% if form.errors %}
    <p>Correct errors please</p>
  {% endif %}
    <table>
        <tr>
            <td>
              {% for field in form %}
                {% if forloop.counter < 5 %}
                  <div class="fieldWrapper">
                    {{ field.errors }}
                    {% if 'Bio' in field.label_tag or 'Other contacts' in field.label_tag %}
                      {{ field.label_tag }}:<br>
                    {% else %}
                      {{ field.label_tag }}:
                    {% endif %}
                    {{ field }}
                  </div>
                {% endif %}
              {% endfor %}
            </td>
            
            <td>
              {% for field in form %}
                {% if forloop.counter > 4 %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {% if 'Bio' in field.label_tag or 'Other contacts' in field.label_tag %}
                      {{ field.label_tag }}:<br>
                    {% else %}
                      {{ field.label_tag }}:
                    {% endif %}
                    {{ field }}
                  </div>
                {% endif %}
              {% endfor %} 
                
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
    </table>
    <p class="submit"><button type="submit" name="submit" value="Submit">Save</button> <a href = {% url show_main_page %}>Cancel</a></p>
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
  </form>
  
{% endblock %}