{% extends 'base.html'%}
{% load extra_tags %}
{% block content %}
    
    <a href={% obj_to_admin contacts %}>(edit)Admin</a>
    <table>
        <tr>
            <td>
                <p>{{contacts.name}}</p>
                <p>{{contacts.last_name}}</p>
                <p>{{contacts.date_of_birth|date:"Y-m-d"}}</p>
                <p>{{contacts.bio}}</p>
            </td>
            
            <td>
                <p>{{contacts.contacts}}</p>
                <p>Email: {{contacts.email}}</p>
                <p>Jabber:{{contacts.jabber}}</p>
                <p>Skype: {{contacts.skype}}</p>
                <p>Other contacts: {{contacts.other_contacts}}</p>
            </td>
        </tr>
    </table>
    <div>
        <p>settings:
        <ul>
        <li>MEDIA_URL: {{settings.MEDIA_URL}}</li>
        <li>TIME_ZONE:{{settings.TIME_ZONE}}</li>
        </ul>
    </div>
{% endblock %}