<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="title" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <title>{%block title%}42cc-test pill{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection" />
    {% block extra_head %}
        
    {% endblock %}

</head>

{% block body %}
    <body>

    
    <div id='content'>
        {% block content %}
            content:
        {% endblock %}
    </div>
    <hr>
        <div id='menu'>
            {% block menu %}
                <a href={% url show_main_page %}>Mainpage</a> <br>
                <a href={% url show_last_requests %}>Requests</a><br>
                <a href={% url show_edit_contacts %}>Edit</a>
                <a href={% url auth_login %}>Login</a>
                <a href={% url auth_logout %}>Logout</a>
                
                
            {% endblock %}
        </div>
        
    </body>
{% endblock %}

</html>

